doctype xml
feed(xmlns="http://www.w3.org/2005/Atom")
  title= blog.title
  - const URL = "http://" + hostname + blog.prefix + "/feed"
  link(href=URL, rel="self")
  link(href=URL)
  updated= posts[0].publish_date.toISOString()
  id= URL
  author
    name Peter Lyons
  each post in posts
    entry
      title= post.title
      link(href="http://" + hostname + post.uri)
      updated= post.publish_date.toISOString()
      id= `http://${hostname}${post.uri}`
      content(type="html")= post.html || ""
