iframe(
  align="center"
  frameborder="0"
  height="375"
  scrolling="no"
  src="http://www.flickr.com/slideShow/index.gne?user_id=" +
    encodeURIComponent(userId) +
    "&set_id=" + encodeURIComponent(setId)
  width="500")
