a.button#subscribe(href=blog.prefix + "/feed") Subscribe
  img.icon(src='/images/feed.png',
    height="24",
    alt='Subscribe to my Atom feed',
    title='Subscribe to my Atom Feed')
.posts
  each post in blog.presentedPosts
    .post
      a.postTitle(href=post.uri)= post.title
      div.postDate= post.date
