- var title, pageTitle;
block variables
- pageTitle = title;
- if (title && title.indexOf(titleSuffix) < 0 && title.indexOf("Peter Lyons") !== 0) { pageTitle = title + titleSuffix }
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title=pageTitle
    link(rel="stylesheet", href="/screen.css")
    link(rel="stylesheet"
      href="//fonts.googleapis.com/css?family=Inconsolata%7CJulius+Sans+One")
    link(href="/favicon.jpg" type="image/jpeg" rel="icon")
    link(rel="alternate" type="application/atom+xml"
      href="/problog/feed" title="Pete's Points")
    link(rel="author" type="text/plain" href="/humans.txt")
    link(rel="openid2.provider openid.server"
      href="https://open.login.yahooapis.com/openid/op/auth")
    link(rel="openid2.local_id openid.delegate"
      href='https://me.yahoo.com/myusername')
    meta(name="description" content=title)
    meta(name="keywords" content="peter lyons, pete lyons, web development, node.js, developer, coder, freelance, consultant, boulder, colorado, startups, saxophone, oberlin")
    meta(name="author" content="Peter Lyons")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="x-app-version" content=appVersion)
  body
    //-.adaptive
    button.navMenuButton &equiv;
    if proSite
      include blocks/navigation
    else
      include ../personal/navigation
    .content
      include blocks/header
      block body
      footer(role="contentinfo").navigationHorizontal
        if proSite
          include blocks/navigation
        else
          include ../personal/navigation
      footer(role="contentinfo").license
        include blocks/license
      block scripts
        script(src="/plws.js?v=" + appVersion)
        if analytics.enabled
          script(data-id="analytics")!= analytics.script(analytics.code)
