doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    block title
    meta(name="keywords", content="peter lyons, pete lyons, web development, node.js, ruby on rails, afronauts, boulder, colorado, turtle dove, startups, music, sax, saxophone, saxophonist, sunny daze, confunktion junction, oberlin, smartears, smart ears, big clock")
    meta(name="author", content="Peter Lyons")
    meta(name="description", content="Peter Lyons: node.js coder for hire")
    //-This seems to make it way too big on mobile
    //-meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", href="/screen.css")
    script(src="/js/jquery.js")
    script(src="/js/lodash.js")
    link(href="/favicon.ico", type="image/x-icon", rel="icon")
    link(href="/favicon.ico", type="image/x-icon", rel="shortcut icon")
    link(rel="alternate", type="application/atom+xml",
      href="/problog/feed", title="Pete's Points")
    link(rel="openid.server",
      href="http://www.livejournal.com/openid/server.bml")
    link(rel="openid.delegate", href="http://focusaurus.livejournal.com/")
    link(href="http://fonts.googleapis.com/css?family=Inconsolata",
      rel="stylesheet")
    link(href="http://fonts.googleapis.com/css?family=Six+Caps",
      rel="stylesheet")
    link(href="http://fonts.googleapis.com/css?family=Oldenburg",
      rel="stylesheet")
  body
    .content
      header
        img(src="/images/peter_lyons_logo_icon.png", alt="Peter Lyons Logo")
        h1
          a(href="/") Peter Lyons
        nav
          a(href="/") Home
          a(href="/problog") Blog
          a(href="/practices") Practices
          a(href="/stacks") Stacks
          a(href="/career") Career
      block body
      :coffeescript
        $ ->
          $("header nav a").each (index, link) ->
            $link = $(link)
            href = $link.attr "href"
            URI = document.location.pathname
            same = URI is href
            parent = URI.indexOf(href) >= 0 and href isnt "/"
            if same or parent
              $link.addClass "current"
            else
              $link.removeClass "current"
    include includes/footer
